# EditorConfig is awesome: http://EditorConfig.org
# ( I kept the comment above because I agree :) )

# Top-most EditorConfig file
root = true

# Defaults [*.{xhtml,html,xml,css,scss,sass,less,js,ts,hbs,mustache,json,yaml,yml,sql,java,kt,kts,groovy,gradle,clj,cljs,cljc,edn,php,py,rb,go}]... etc.
[*]
charset = utf-8
indent_size = 2
indent_style = space
max_line_length = 120
insert_final_newline = true
trim_trailing_whitespace = true

[*.{java,kt,kts,groovy,gradle,php,py}]
indent_size = 4

# Idiomatic Go...
[*.go]
indent_style = tab
tab_width = 8

# Mustache and Handlebars templates are usually to be taken literally...
[*.{hbs,mustache}]
insert_final_newline = false
